@media(min-width:576px){

}



@media(min-width:768px){
    /* Home/Index */
    .fonts{
        font-size: 30px;
    }

    .rectangle3{
        height:922px;
      }
    
    .rectangle2{
        height:938px;
        display:inline-block;
    }

    .rectangle2 img{
        padding-bottom: 50px;
      }
    
    .rectangle4{
        height:938px;
    }

    /* Home Select */

    .fonts-cart{
        font-size: 20px;
    }

}


