*{
  box-sizing: border-box;
}

/* Home */
/* container */
.my-container{
  background: #ffffff;
}

/* Top from here */
.rectangle{
  text-align: center;
  height:100px;
  padding-top: 28px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top:6px;
}

.fonts{
  font-size: 25px;
  text-align: center;
  font-family: Airbnb Cereal App;
}

/* side from here */
.rectangle2{
  padding-top: 30px;
  padding-bottom:30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display:inline-flex;
  
}

.rectangle3{
  background: rgba(190, 195, 202, 0.3);
}

.card{
  margin-top:20px;
  background: rgba(190, 195, 202, 0);
  border: none;
}

.card-title{
  font-family: Airbnb Cereal App;
  font-size: 25px;
  line-height: 33px;
}

.card-text{
  font-family: Airbnb Cereal App;
  font-size: 25px;
  line-height: 33px;
  font-weight: bold;
  margin-top: -10px;
}

.rectangle4{
  border: 1px solid #CECECE;
}

.rectangle4-img{
  margin-top: 50px;
}
.rectangle4-text{
  margin-top: -30px;
}

.fonts-rectangle4{
  font-size:20px;
  text-align: center;
  font-family: Airbnb Cereal App; 
  color: #cecece;
}

.rectangle5{
  height:100px;
  padding-top: 28px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.fonts-rectangle5{
  font-size:25px;
  text-align: center;
  font-family: Airbnb Cereal App;

}

.zero{
  background: #57CAD5;
  font-family: Airbnb Cereal App;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 100%;
  color: #ffffff;
}


/* Home Select */

.fonts-cart{
  font-family: Airbnb Cereal App;
  font-size: 15px;
}


/* History */
.fonts-history{
  text-align: left;
  font-size: 30px;
  font-family: Airbnb Cereal App;
}
.card1{
  position: relative;
  background: linear-gradient(285.38deg, #FBB2B4 30.05%, rgba(255, 143, 178, 0) 133.19%);
  filter: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
  height:200px;
}

.card2{
  position: relative;
  background: linear-gradient(285.38deg, #29DFFF 30.05%, rgba(41, 223, 255, 0) 133.19%);
  filter: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
  height:200px;
  
}

.card3{
  position: relative;
  background: linear-gradient(285.38deg, #AB84C8 30.05%, rgba(241, 201, 236, 0) 133.19%);
  filter: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
  height:200px;
}
.rectangle91{
  position: fixed;
  top:30%;
  left:10%;
}

.rectangle92{
  position: fixed;
  top:30%;
  left:10%;
}

.rectangle93{
  position: fixed;
  top:30%;
  left:10%;
}

.buble1{
  position: absolute;
  width:60px;
  height:60px;
  background: rgba(253, 211, 228, 0.3);
  border-radius: 50%;
}

.buble2{
  position: absolute;
  width:60px;
  height:60px;
  background: rgba(207, 246, 253, 0.3);
  border-radius: 50%;
}

.buble3{
  position: absolute;
  width:60px;
  height:60px;
  background: rgba(241, 201, 236, 0.3);
  border-radius: 50%;
}